<!-- The Modal update POKEMON -->

				<div class="modal update_poke" id="update_modal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered">
						<div id="update_poke_modal" class="modal-content">
							<h2 id="title_up_poke"></h2>
							<form id="form_update_poke" method="post">
								<div class="update_poke mb-3">
									<label for="name" class="form-label">Nom</label>
									<input placeholder="{{pokemon.name}}" type="text" name='name' class="form-control" id="inputName">
								</div>
								<div class="upadte_poke mb-3">
									<label for="level" class="form-label">level</label>
									<input placeholder="{{pokemon.level}}" type="text" name="level" class="form-control" id="inputLevel">
								</div>
								<div class="upadte_poke mb-3">
									<label for="type" class="form-label">Type</label>
									<input placeholder="{{pokemon.type}}" type="text" name="type" class="form-control" id="inputType">
								</div>
								<div
									id="addImage">
									{# debut multer (***** image *****) #}
									<label id="fileImage" for="image">Choisir une image</label>
									<input
									type="file" name="image" id="inputImage">
									{# fin multer (***** image *****) #}

									<button id="button_update_poke" type="submit" class="btn btn-primary">envoyer</button>
								</div>

							</form>

						</div>
					</div>
				</div>